/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
=============
Navigation
=============
*/

nav {
    position: relative;
    width: 480px;
    border-radius: 2px;
    left: 1100px;
    bottom: 60px;
    background-color: #fff;
}

.navigation-list {
    width: 500px;
}

nav .navigation-list li {
    display: inline-block;
    margin-right: 5px;
}

nav .navigation-list a {
    text-decoration: none;
    color: #000;
}

nav .navigation-list a:hover {
    animation-name: hover;
    animation-fill-mode: forwards;
}

@keyframes hover {
    0% {
        color: #000;
        text-decoration: underline
    }

    20% {
        color: rgb(22, 22, 22);
        text-decoration: underline;
    }

    40% {
        color: rgb(37, 37, 37);
        text-decoration: underline;
    }

    60% {
        color: rgb(43, 43, 43);
        text-decoration: underline;
    }

    80% {
        color: rgb(36, 36, 36);
        text-decoration: underline;
    }

    100% {
        color: rgb(22, 22, 22);
        text-decoration: underline;
    }
}

/*
===========
Body
===========
*/

body {
    background-image: url(../images/background.jpg);
}

/*
===========
Individual Elements
===========
*/

h3 {
    font-size: 16px;
    font-weight: bold;
    text-shadow: 2px 3px 4px rgba(0,0,0, 0.3);
}

.logo {
    height: auto;
    width: 50px;
    display: inline;
    animation: fadeIn 5s;
    position: relative;
    left: 1050px;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.recipe-name {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
}

.text-before-value {
    font-weight: bold;
    text-shadow: 2px 3px 4px rgba(0,0,0, 0.3);
}

.main-text {
    text-align: center;
    font-weight: bold;
}

/*
===========
Recipe Section
===========
*/

#recipe-container {
    background-color: #fff;
    height: auto;
    width: 800px;
    position: relative;
    left: 400px;
    right: auto;
    bottom: 10px;
    border-radius: 5px;
}

.image {
    height: auto;
    width: 400px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px 5px rgba(0,0,0, 0.3);
    position: relative;
    right: 200px;
    left: 200px;
}